asgiref
certifi
cffi
chardet
coreapi
coreschema
cryptography
defusedxml
Django
django-cors-headers
django-environ
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
idna
importlib-metadata
itypes
Jinja2
MarkupSafe
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
zipp
